* {
  cursor: none !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: $body-bg;
  color: $body-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 4rem; /* adjust size */
    height: 4rem;
    pointer-events: none; /* so it doesn't block clicks */
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease;
    z-index: 1000;

    .cursor.hovering {
      transform: translate(-50%, -50%) scale(1.5);
      filter: brightness(1.5);
    }
    a,
    button {
      cursor: pointer; /* normal cursor for accessibility */
    }
  }
}
