body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: $body-bg;
  color: $body-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
