.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 10;
  margin: 2rem 0rem;
  margin-right: 3rem;
}
.nav_main {
  display: flex;
  gap: 2rem;
  margin: 0;
}

.nav_link {
  color: $nav-text;
  text-decoration: none;
  font-size: clamp(2rem, 3vw, 2rem);
  font-weight: bold;
  font-family: "Barrio", system-ui;
  &:hover {
    text-decoration: underline;
  }
}
